<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>[% title %]</title>
    <meta charset="utf-8">
    <meta name="description" content="dev.tetsu.io">
    <meta name="author" content="tetsu">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>[% title %]</h1>
    <div class="container">
      <a href="./login">ログイン</a>
      [% IF data -%]
      <p>こんにちは！[% data.name.display_name %]さん！</p>
      [% ELSE -%]
      <p>ログインしていません</p>
      [% END -%]
    </div>
  </body>
</html>
